#login-dlg {
  max-width: 354px;
  padding: 8px;
}

.mat-card-content {
  padding-left: 72px;
  margin-top: 16px;
  margin-bottom: 0px;
}

#logo {
  position: absolute;
  height: 212px;
  left: 0;
  opacity: 0.87;
}

#message {
  min-height: 20px;
  text-align: center;
}