@use 'sass:map';
@use '@angular/material' as mat;
@import '../../djinn';

.day-cell {
  margin-bottom: 32px;

  .day-title {
    text-align: center;
    font-size: x-large;
    color: mat.get-color-from-palette($djinn-primary, 500);
  }
}

.day-line {
  margin: 0 8px;
}

.hour {
  position: relative;
  left: -8px;
}

.hour-end {
  position: absolute;
  right: 16px;
}

.cell {
  text-align: center;
  border-right: 1px solid black;

  &:first-child {
    border-left: 1px solid black;
  }
}

i.main {
  padding: 8px 0;
  font-size: 42px;
}

i.wi-wind {
  position: relative;
  left: 4px;
  font-size: 26px;
  color: mat.get-color-from-palette($djinn-primary, 500);
}

.description {
  overflow-x: hidden;
}

.mat-list {
  max-width: 300px;
  min-width: 300px;
}

.mat-list-item {
  background-color: mat.get-color-from-palette($djinn-default, 700);
  margin: 8px 4px;
}

::ng-deep .mat-list-text {
  padding-left: 0 !important;
}

.right {
  $size: 32px;

  font-size: $size;
  line-height: $size;
  font-family: 'Digit';
  color: mat.get-color-from-palette($djinn-primary, 500);
  padding-right: 4px;

  .mat-icon {
    height: $size;
    width: $size;
    font-size: $size;
  }
}