<div id="holder" fxLayout="column" fxLayoutAlign="start center" fxFlexFill fxLayoutGap="16px">


  <mat-list>
    <mat-list-item *ngFor="let heater of heaters" class="mat-elevation-z2">

      <div matLine class="line1">
        <img matListAvatar [src]="'/assets/house/'+heater.key+'.png'">

        <button mat-icon-button color="accent"
          (click)="onFavorite(heater.key)">
          <mat-icon fontSet="material-symbols-outlined">heart_plus</mat-icon>
        </button>
        <div fxFlex>
          <div class="left" fxLayout="column">
            <div>{{heater.label.line1}}</div>
            <div>{{heater.label.line2}}</div>
          </div>
          <div fxFlex></div>
          <div class="right" fxLayout="row" fxFlexAlign="center center">
            <mat-icon fontSet="material-symbols-outlined" color="primary">thermostat</mat-icon>
            <div>21.2</div>
          </div>
        </div>
      </div>

      <div matLine class="line2" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-icon-button [color]="heater.mode === 'C' ? 'primary' : 'accent'"
          (click)="onChange(heater.key, 'C')">
          <mat-icon fontSet="material-symbols-outlined">light_mode</mat-icon>
        </button>
        <button mat-icon-button [color]="heater.mode === '1' ? 'primary' : 'accent'"
          (click)="onChange(heater.key, '1')">
          <mat-icon fontSet="material-symbols-outlined">brightness_6</mat-icon>
        </button>
        <button mat-icon-button [color]="heater.mode === '2' ? 'primary' : 'accent'"
          (click)="onChange(heater.key, '2')">
          <mat-icon fontSet="material-symbols-outlined">brightness_4</mat-icon>
        </button>
        <button mat-icon-button [color]="heater.mode === 'E' ? 'primary' : 'accent'"
          (click)="onChange(heater.key, 'E')">
          <mat-icon fontSet="material-symbols-outlined">mode_night</mat-icon>
        </button>
      </div>

    </mat-list-item>
  </mat-list>

</div>