<div id="holder" fxLayout="column" fxLayoutAlign="start center" fxFlexFill fxLayoutGap="16px">

  <mat-card *ngFor="let heater of heaters" class="mat-elevation-z3">
    <mat-card-header>
      <img mat-card-avatar [src]="'/assets/house/'+heater.key+'.png'">
      <div fxFlex class="mat-card-title">
        <div class="left" fxLayout="column">
          <div>{{heater.label.line1}}</div>
          <div>{{heater.label.line2}}</div>
        </div>
        <div fxFlex></div>
        <div class="right" fxLayout="row" fxFlexAlign="center center">
          <mat-icon fontSet="material-symbols-outlined" color="primary">thermostat</mat-icon>
          <div>21.2</div>
        </div>
      </div>

    </mat-card-header>
    <mat-card-actions fxLayoutAlign="space-between center">
      <button mat-icon-button [color]="heater.mode === 'C' ? 'primary' : 'accent'"
        (click)="onChange(heater.key, 'C')">
        <mat-icon fontSet="material-symbols-outlined">light_mode</mat-icon>
      </button>
      <button mat-icon-button [color]="heater.mode === '1' ? 'primary' : 'accent'"
        (click)="onChange(heater.key, '1')">
        <mat-icon fontSet="material-symbols-outlined">brightness_6</mat-icon>
      </button>
      <button mat-icon-button [color]="heater.mode === '2' ? 'primary' : 'accent'"
        (click)="onChange(heater.key, '2')">
        <mat-icon fontSet="material-symbols-outlined">brightness_4</mat-icon>
      </button>
      <button mat-icon-button [color]="heater.mode === 'E' ? 'primary' : 'accent'"
        (click)="onChange(heater.key, 'E')">
        <mat-icon fontSet="material-symbols-outlined">mode_night</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

</div>

<!-- <img mat-card-avatar [src]="'/assets/house/'+heater.key+'.png'">
      <mat-card-title fxLayout="row" fxFlex fxFlexAlign="space-between center">
        <div class="left" fxLayout="column">
          <div>{{heater.label.line1}}</div>
          <div>{{heater.label.line2}}</div>
        </div>
        <div fxFlex>.</div>
        <div class="right" fxLayout="row">
          <mat-icon>thermostat</mat-icon>
          <span>21.2</span>
        </div>
      </mat-card-title> -->