#logout-dlg {
  min-width: 300px;
  max-width: 354px;
  padding: 8px;
}

.mat-card-content {
  padding-left: 72px;
  margin-top: 16px;
  margin-bottom: 0px;
  height: 212px;

  h1 {
    text-align: center;
  }
}

#logo {
  position: absolute;
  height: 212px;
  left: 0;
  opacity: 0.87;
}

.mat-card-content {}