// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import './djinn';

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Digit';
  src: url(/assets/fonts/digit.ttf);
}

html,
body {
  height: 100%;
  margin: 0;
}

.debug {
  border: 1px solid red;
}

.material-icons {
  font-family: 'Material Icons Outlined';
}
