<div id="holder" fxLayout="column" fxLayoutAlign="start center" fxFlexFill fxLayoutGap="16px">

  <mat-list>
    <mat-list-item *ngFor="let item of crons | async | keyvalue: unsorted" class="mat-elevation-z2">

      <div matLine class="line1">
        <button mat-icon-button color="accent"
          (click)="onEdit(item.key)">
          <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
        </button>
        <div fxFlex>
          <div class="left" fxLayout="column" fxLayoutAlign="center stretch">
            <div>{{item.key}}</div>
          </div>
          <div fxFlex></div>


        </div>
      </div>

    </mat-list-item>
  </mat-list>
</div>

<button id="add" mat-mini-fab (click)="onAdd()" color="accent">
  <mat-icon fontSet="material-symbols-outlined">calendar_add_on</mat-icon>
</button>