$pm1: #E6A117;
$pm2: #9A7B3D;
$pm3: #7B5404;
$pm4: #F6C562;
$pm5: #F6D89C;
$sa1: #E6BD17;
$sa2: #9A873D;
$sa3: #7B6404;
$sa4: #F6D962;
$sa5: #F6E59C;
$sb1: #E67E17;
$sb2: #9A6B3D;
$sb3: #7B3F04;
$sb4: #F6AC62;
$sb5: #F6C99C;
$cp1: #1E439A;
$cp2: #2F4067;
$cp3: #051D53;
$cp4: #658ADD;
$cp5: #94AADD;
$text: $pm3;
$alert: #D34D17;

fieldset {
	border: none;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
	margin-bottom: 18px;
	padding: 1em;
	background: url("/css/images/ui-bg_glow-ball_100_f6d89c_600x600.png") 50% 35% repeat-x;
	background-color: $pm5;
	color: $pm3;
	width: 270px;
	height: 200px;
	background-size: cover;
}

legend {
	position: relative;
	top: 0.6em;
	width: 100%;
	padding: 0 2px;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	color: $sa5;
	background: -webkit-linear-gradient(left, rgba(123,63,4,0) 0%, rgba(123,63,4,0.66) 33%, rgba(123,63,4,1) 50%, rgba(123,63,4,0.68) 66%, rgba(123,63,4,0) 100%);
}

input {
	display: block;
	position: relative;
	bottom: -4.3em;

	&.hum {
		right: 3.4em;
		float: right;
	}

	&.temp {
		right: -5em;
	}

	&.t1fo.big {
		right: -2em;
	}

	&.t1fo.small {
		right: -4em;
	}

	&.heater {
		right: 4em;
		float: right;
	}

	&#G1P-temp {
		right: 5em;
		top: 0.3em;
		float: right;
	}

	&#G1T-temp {
		right: -5em;
		top: 0.3em;
	}

	&#G1E-temp {
		right: 5em;
		top: 3.2em;
		float: right;
	}

	&#G1I-temp {
		right: -5em;
		top: 3.2em;
	}
}

img {
	display: block;
	position: relative;
	bottom: -3.5em;
	right: -8.5em;
	cursor: pointer;
}

input {
	color: black;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0%,#d5cea6), color-stop(40%,#c9c190), color-stop(100%,#b7ad70) );
	text-align: right;
	font-family: digit;
	font-size: 2em;
	padding: 0 0.2em;
	border: none;
	text-shadow: 2px 2px 10px gray;
	outline: 4px inset #D5CEA6;

	&:focus {
		outline-offset: 0;
	}
}
