@use 'sass:map';
@use '@angular/material' as mat;
@import '../../djinn';

#holder {
  overflow-y: auto;
}

.mat-list {
  max-width: 300px;
}

.mat-list-item {
  background-color: mat.get-color-from-palette($djinn-default, 700);
  margin: 8px 4px;
}

h2 {
  color: mat.get-color-from-palette($djinn-primary, 500);
}

.right {
  $size: 36px;

  font-size: $size;
  line-height: $size;
  font-family: 'Digit';
  color: mat.get-color-from-palette($djinn-primary, 500);

  .mat-icon {
    height: $size;
    width: $size;
    font-size: $size;
  }
}

.label {
  vertical-align: middle;
}
::ng-deep .mat-card-header-text {
  margin: 0 12px 0 0 !important;
}
